body[data-theme="light"]{
    --hf-bg-color: #2874a6;
    --hf-text-color: white;

    --n-bg-color: #2874a6;
    --n-text-color: white;
    
    --sa-title-color: #2874a6;
    --sa-text-color: black;
    --sa-bg-color:  white;

    --b-bg-color: white;
    --b-text-color: #2874a6;
}

body[data-theme="dark"]{
    --hf-bg-color: black;
    --hf-text-color: white;

    --n-bg-color: black;
    --n-text-color: white;

    --sa-title-color: white;
    --sa-text-color: #ddd;
    --sa-bg-color:  #222;

    --b-bg-color: black;
    --b-text-color: #ddd;
}

button{
    background-color: var(--b-bg-color);
    color: var(--b-text-color);
    border-color: var(--b-text-color);

    /* width: fit-content; */
    padding: 12px 20px;
    border: auto;
    border-radius: 10px;
}

body {
    font-family: 'Quicksand', sans-serif;
}


header, footer {
    background-color: var(--hf-bg-color);
    color: var(--hf-text-color);
}

nav{
   background-color: var(--n-bg-color);
   color: var(--n-text-color);
}

aside, section{
    background-color: var(--sa-bg-color);
    color: var(--sa-text-color);

}

header h1 {
    margin: 10px 0;
    padding: 0;
    font-size: 40px;
	font-variant-caps: small-caps; 
    text-align: center;
}

/************** La barre de navigation NAV ******************/
nav {
    padding: 0 20px;
    background-color: var(--n-bg-color);
    color: var(--n-text-color);
    /* font-size: 1rem; */
}
nav div {
    text-align: center;
}
nav a {
    font-size: 20px;
    color: var(--n-text-color);
    margin: 0px 0px;
    padding: 0 10px;
	font-variant-caps: small-caps; 
    text-decoration: none;
}


nav div:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid var(--n-text-color);
    transition-duration: 0.3s;
}

/*    La section principale */
section, aside {
    background-color: var(--sa-bg-color);
    color: var(--sa-text-color);
    padding: 10px;
}


section h1, aside h1 {
    color: var(--sa-title-color);
}

section h2, aside h2 {
    color: var(--sa-title-color);
    padding-left: 30px;
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    font-weight: lighter;
    font-variant-caps: small-caps; 

}


section img#imgdronetello {
    /*margin: 5px 30px;*/
    width: 100%;
}

section img#imgdronemavic {
    /*float: left;*/
    width: 30%;
}

@media screen and (orientation: portrait) {
    section img#imgdronetello, section img#imgdronemavic {
        float: none;
        margin: 0;
        width: 100%;
    }

}

/* GEstion de l'affichage en 2 colonnes dans la section principale : une image à gauche et un texte à droite*/

section div.deux_colonnes {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
@media screen and (orientation: portrait) {
    section div.deux_colonnes {
        display: grid;
        grid-template-columns: 1fr;
    }    
}

section div.colonne_texte {
    margin: 10px 30px;
}




section div.quatre_colonnes {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media screen and (orientation: portrait) {
    section div.quatre_colonnes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }    
}

section div.quatre_colonnes p {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}

section div.quatre_colonnes span.evidence {
    font-size: 26px;
    color: var(--sa-title-color);
    font-weight: lighter;
    font-variant-caps: small-caps; 

}

/****** Le aside ASIDE *******/
aside {
    /* margin: 10px 0px 10px 10px; */
    border-width: 3px;
    border-style: solid;
    border-image: 
      linear-gradient(
        to bottom, 
        var(--sa-bg-color),
        var(--sa-title-color), 
        var(--sa-bg-color)
      ) 1 100%;
    /* border-left: 0.05em solid linear-gradient(var(--sa-bg-color), var(--sa-title-color), var(--sa-bg-color)); */
    /* border-radius: 10px; */
}

/************* Le pied de page FOOTER *******************/
footer div {
    margin: 5px 0 0 30px;
    padding: 0;
}



footer h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
	font-variant-caps: small-caps; 
    color: var(--hnf-text-color);
}
footer p {
    margin: 0;
    padding:0;
    font-size: 0.8;
    font-weight: 100;
    color: var(--hnf-text-color);
}

footer a {
    display: block;
    margin: 5px;
    padding:0;
    font-size: 20px;
    font-weight: 100;
    color: var(--hnf-text-color);
    text-decoration: none;
}

#hamburger{
    display: none;
}

@media (max-width: 800px) {
	body {
		grid-template-columns: 100%;
		grid-template-rows:	3rem auto minmax(400px, auto) auto;
		grid-template-areas: 	"header"
								"nav"
								"section"
								"footer";
	}

    #hamburger{
		
		display: block;
		float: right;
		margin-inline-start: 10px;
		height: 50px;
    
	}
    #barre_navigation{
        display: none;
        float: left;
        margin-top: 30px 30px 0 0;
        font-size: 30px;
    }

    a #barre_navigation {
        font-size: 30px;
        font-variant-caps: all-small-caps;
        text-decoration: none;
    }
}


/* **********Compteur************/

/* .compteur{
    float: left;
    background-color: #222;
    color:#ddd;
    border: none;
    border-radius: 15px;
    border-color: white;
    text-align:center;
    margin: -10px 10px 15px 5px;
    height: 50px;
    width:75px;
    font-size:xx-large;
} */
