[data-theme="light"]{
    --hf-bg-color: #2874a6;
    --hf-text-color: white;

    --n-bg-color: #3987bb;
    --n-text-color: white;

    --sa-title-color: #2874a6;
    --sa-text-color: black;
    --sa-bg-color: white;
}

[data-theme="dark"] {
    --hf-bg-color: black;
    --hf-text-color: white;

    --n-bg-color: #444;
    --n-text-color: white;

    --sa-title-color: white;
    --sa-text-color: #ddd;
    --sa-bg-color: #222;
}




body {
    font-family: 'Quicksand', sans-serif;
}


header, footer {
    background-color: var(--hf-bg-color);
    color: var(--hf-text-color);
}

header h1 {
    margin: 10px 13%;
    padding: 0;
    font-size: 40px;
	font-variant-caps: small-caps;
    text-align: center;
    position: absolute;
width: 74%;
}

header img {
    display: none;
}

@media screen and (orientation: portrait) {
    header img {
        display: block;
        float: right;
        margin: 10px;
        height: 50px;
        padding: 0;
    }
}
/************** La barre de navigation NAV ******************/
nav {
    padding: 0 20px;
    background-color: var(--n-bg-color);
    color: var(--n-text-color);
    text-align: center;
    /* font-size: 1rem; */
}

nav a {
    font-size: 20px;
    color: var(--n-text-color);
    margin: 0px 0px;
    padding: 0 10px;
	font-variant-caps: small-caps;
    text-decoration: none;

}

nav a:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid var(--n-text-color);
    transition-duration: 0.3s;
}

/*    La section principale */
section, aside {
    background-color: var(--sa-bg-color);
    color: var(--sa-text-color);
    padding: 10px;
}


section h1, aside h1 {
    color: var(--sa-title-color);
}

section h2, aside h2 {
    color: var(--sa-title-color);
    padding-left: 30px;
    text-align: center;
    margin: 50px 0;
    font-size: 35px;
    font-weight: lighter;
    font-variant-caps: small-caps;

}


section img#imgdronetello {
    /*margin: 5px 30px;*/
    width: 100%;
}

section img#imgdronemavic {
    /*float: left;*/
    width: 30%;
}

@media screen and (orientation: portrait) {
    section img#imgdronetello, section img#imgdronemavic {
        float: none;
        margin: 0;
        width: 100%;
    }

}

/* GEstion de l'affichage en 2 colonnes dans la section principale : une image à gauche et un texte à droite*/

section div.deux_colonnes {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
@media screen and (orientation: portrait) {
    section div.deux_colonnes {
        display: grid;
        grid-template-columns: 1fr;
    }
}

section div.colonne_texte {
    margin: 10px 30px;
}




section div.quatre_colonnes {
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
@media screen and (orientation: portrait) {
    section div.quatre_colonnes {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}

section div.quatre_colonnes p {
    text-align: center;
    font-size: 22px;
    font-weight: normal;
}

section div.quatre_colonnes span.evidence {
    font-size: 26px;
    color: var(--sa-title-color);
    font-weight: lighter;
    font-variant-caps: small-caps;

}

/****** Le aside ASIDE *******/
aside {
    /* margin: 10px 0px 10px 10px; */
    border-width: 3px;
    border-style: solid;
    border-image:
      linear-gradient(
        to bottom,
        var(--sa-bg-color),
        var(--sa-title-color),
        var(--sa-bg-color)
      ) 1 100%;
    /* border-left: 0.05em solid linear-gradient(var(--sa-bg-color), var(--sa-title-color), var(--sa-bg-color)); */
    /* border-radius: 10px; */
}

aside .compteur {
	display: inline-block;
	padding: 10px;
	margin-right: 20px;
	margin-top: 20px;
	width: 60px;
	height: 50px;
	border-radius: 15px;
	background-color: #404040;
	color: white;
	font-weight: bold;
	font-size: 2em;
	text-align: center;
}



/************* Le pied de page FOOTER *******************/
footer div {
    margin: 5px 0 0 30px;
    padding: 0;
}



footer h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: 400;
	font-variant-caps: small-caps;
    color: var(--hnf-text-color);
}
footer p {
    margin: 0;
    padding:0;
    font-size: 0.8;
    font-weight: 100;
    color: var(--hnf-text-color);
}

footer a {
    display: block;
    margin: 5px;
    padding:0;
    font-size: 20px;
    font-weight: 100;
    color: var(--hnf-text-color);
    text-decoration: none;
}
/*
footer button {
	background-color: var(--hf-bg-color);
	color: var(--hf-text-color);
	border: 1px solid var(--hf-text-color);
	border-radius: 5px;
    font-size: 20px;
}*/
